name: ai-reviews

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    name: Review PR
    runs-on: windows

    steps:
      - name: Checkout code
        uses: http://10.1.53.188:3001/lhk/checkout@v6
        with:
          fetch-depth: 0
      - name: Review code
        uses: http://10.1.53.188:3001/lhk/ai-pr-reviewer@main 
        with:
          debug: true
          review_comment_lgtm: true
          openai_heavy_model: "deepseek-r1:1.5b"
          path_filters: |
            !dist/**
            !**/*.lock
       